/* Main Menu */
:root {
  --white: #fff;
  --black: #000;
  --text-color: #333;
  --red: #b5292f;
}
.main-wrapper {
  overflow: hidden;
  padding-top: 60px;
  max-width: 1130px;
  padding: 0 10px;
  margin: 0 auto;
}

.home-title-block {
  padding: 0 10px 10px;
  scroll-margin-top: 80px;
}

.home-slider {
  display: flex;
  max-width: 1130px;
  padding: 0 10px;
  margin: 0 auto;
}

.home-slider img {
  width: 1100px;
  height: 460px;
  object-fit: cover;
  border-radius: 5px;
}

.home-service {
  display: flex;
  margin-top: 30px;
  column-gap: 20px;
  scroll-margin-top: 30px;
  white-space: nowrap;
  overflow-x: auto;
  margin: 10px 0;
  padding: 10px 3px;
}

.home-service-item {
  box-shadow: 0px 1px 9px 2px #f0ebeb;
  width: 25%;
  display: flex;
  padding: 20px;
  align-items: center;
  border-radius: 5px;
}

.home-service-item-icon i {
  font-size: 40px;
  margin-right: 25px;
  color: var(--red);
}

.home-service-item-content-h {
  font-size: 15px;
  color: var(--text-color);
}

.home-service-item-content-desc {
  margin-top: 4px;
  font-size: 14px;
  color: #888;
}

.home-title {
  /* font-family: 'Lobster', cursive; */
  font-weight: 600;
  text-align: center;
  font-size: 21px;
  position: relative;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 28px;
}

.home-title::after {
  content: "";
  position: absolute;
  height: 3px;
  background-color: var(--red);
  width: 25%;
  left: 50%;
  transform: translate(-50%);
  bottom: -5px;
}

.no-result {
  width: 100%;
  text-align: center;
  margin: 10px 0;
}

.no-result-h {
  font-size: 25px;
  margin: 10px;
}

.no-result-p {
  width: 100%;
  color: #757575;
  text-align: center;
}

.no-result i {
  color: #757575;
  font-size: 80px;
  margin-top: 30px;
}

.home-products {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
}

.col-product {
  width: 25%;
  padding: 10px;
  overflow: hidden;
}

.card-product {
  background-color: var(--white);
  border-radius: 5px;
  border: 1px solid #e5e5e5;
}

.card-header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
  position: relative;
}

.card-header strong {
  position: absolute;
  color: var(--white);
  background-color: var(--red);
  right: 5px;
  top: 5px;
  padding: 5px 10px;
  border-radius: 23px 23px 23px 0px;
  font-size: 12px;
  font-weight: 600;
  z-index: 1;
}

.card-image {
  height: 155px;
  width: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
  display: block;
}

.card-image:hover {
  transform: scale(1.05);
}

.card-image-link {
  display: block;
  width: 100%;
  height: 100%;
}

.card-content {
  padding: 8px 10px;
  text-align: center;
}

.card-title-link {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 600;
}

.card-footer {
  padding: 5px 10px 10px;
}

.product-price {
  text-align: center;
}

.product-price .current-price {
  color: var(--red);
  font-weight: 600;
  font-size: 15px;
}

.product-price .old-price {
  text-decoration: line-through;
  color: #808080;
  font-size: 13px;
  margin-left: 5px;
}

.product-buy {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.card-button {
  background-color: var(--red);
  outline: none;
  border: none;
  width: 85%;
  padding: 7px;
  color: var(--white);
  border-radius: 20px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
}

.card-button:hover {
  box-shadow: inset 0 0 0 100px rgb(0 0 0 / 20%);
}

.card-button i {
  margin-right: 3px;
}
/* Page Nav  */

.page-nav,
.page-nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  margin-top: 10px;
}

.page-nav-item a {
  display: inline-block;
  color: var(--black);
  border: 2px solid #000;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 27px;
  border-radius: 50%;
  font-size: 15px;
}
